main {
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
}
input {
  background-color: black;
  border-style: none;
  outline-style: none;
  width: 1000px;
  height: 1000px;
  margin-left: 200px;
}
::placeholder {
  opacity: 1;
}

.green-text {
  color: rgb(0, 255, 65);
  font-family: Courier;
  font-size: 20px;
  font-weight: 800;
}
